/* css styles */
.btn-primary {
  background-color: #593196 !important; /* tu color primario */
  border-color: #593196 !important;
}

.btn-primary:hover {
  background-color: #95b540 !important; /* color al pasar el mouse */
  border-color: #95b540 !important;
}

/* Barra lateral izquiera en Tutorials */
/* Bloque resaltado en morado para el item activo del sidebar */
.sidebar .sidebar-item-container .active {
  background-color: #dadaeb;   /* fondo morado muy claro */
  border-left: 4px solid #3f007d; /* línea lateral morada intensa */
  border-radius: 6px;          /* esquinas redondeadas */
  padding: 6px 10px;           /* espacio interno */
  font-weight: bold;           /* texto en negritas */
  color: #4b0082;              /* texto morado oscuro */
}

/* Recuadros enlistados con resalte */
/* Estilo base de las tarjetas del listing */
.quarto-listing .quarto-grid-item {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 8px;
}

/* Efecto al pasar el cursor */
.quarto-listing .quarto-grid-item:hover {
  transform: scale(1.05); /* agranda ligeramente */
  box-shadow: 0 8px 20px rgba(128, 0, 128, 0.3); /* sombra morada */
  z-index: 2;
}

/* -- publications 
Copiado de aqui: https://github.com/MasielloGroup/MasielloGroupWebsite/blob/main/styles/custom.scss
--*/

.listing-pub-title {
  /*font-family: 'Bebas Neue', sans-serif;
  max-width: 80%;
  margin-top: 10px;
  margin-bottom: 12px;
  color: #222;
  line-height: 1.2;*/
  font-size: 18px;
  font-weight: 700; 
}

.listing-pub-author {
  color: #757883;
  font-size: 13px;
  margin-bottom: 6px;
  /*line-height: 1.5;*/
}

.listing-pub-number {
  font-weight: 700; 
  font-size: 15px;

}

.listing-pub-journal {
  color: #757883;
  font-size: 15px;
  margin-bottom: 8px;
}

.listing-pub-url {
  font-size: 13px;

}

.thumbnail img.thumbnail-image {
  max-height: 300px !important;
  max-width: 100% !important;
  width: auto !important;
  height: auto !important;
  object-fit: contain !important;
  margin-left: auto !important;
  display: block !important;
}

.pub-entry img {
  width: 60px;    /* más pequeño */
  height: auto;
  margin-right: 0.8em;
  border-radius: 4px;
}

