/* css styles */
.btn-primary {
  background-color: #593196 !important; /* tu color primario */
  border-color: #593196 !important;
}

.btn-primary:hover {
  background-color: #95b540 !important; /* color al pasar el mouse */
  border-color: #95b540 !important;
}
